{% extends 'base_login.html' %}

{% block header %}
  {% block title %}{% endblock %}
{% endblock %}

{% block content %}
  <div class="card o-hidden border-0 shadow-lg my-5">
    <div class="card-body p-0">
      <!-- Nested Row within Card Body -->
      <div class="row">
        <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
        <div class="col-lg-7">
          <div class="p-5">
            <div class="text-center">
              <h1 class="h4 text-gray-900 mb-4">Crea una cuenta!</h1>
            </div>
            <form class="user" method="POST">
              <div class="form-group">
                <input class="form-control form-control-user" name="username" id="username" placeholder="Ingrese un nombre de usuario">
              </div>
              <div class="form-group">
                <input type="password" class="form-control form-control-user" name="password" id="password" placeholder="Ingrese una contraseña">
              </div>
              <input type="submit" class="btn btn-primary btn-user btn-block" value="Crear cuenta">
            </input>
            </form>
            {% for message in get_flashed_messages() %}
              <div class="flash">{{ message }}</div>
            {% endfor %}
            <hr>
            <div class="text-center">
              <a class="small" href="{{ url_for('auth.login') }}">Volver a la pantalla de Log In!</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

